span li{
    list-style-type: none;
}

a{
    margin-left: 5px;
    list-style-type: none;
    color: #141414;
    text-decoration: none;
}

td, th{
    text-align: center;
}

.float-left h2{
    color: #141414;
}

.fa-trash{
    color: red;
}

.fa-edit{
    color: rgb(2, 110, 11);
}
